php-fpm:
    build: php-fpm
    ports:
        - 9000:9000
    volumes:
        - ./app:/var/www/html/
#    links:
#        - db
nginx:
    build: nginx
    ports:
        - 8080:80
    volumes:
        - ./app:/var/www/html/        
    links:
        - php-fpm
#redis:
#    build: redis
#    ports:
#        - 6379:6379
#
#db:
#    image: mysql
#    ports:
#        - 33061:3306
#    environment:
#        MYSQL_DATABASE: mydb
#        MYSQL_USER: dev
#        MYSQL_PASSWORD: 123123
#        MYSQL_ROOT_PASSWORD: 123123
#    volumes:
#      - ./mysql/conf:/etc/mysql/
